.header {
    background-color: rgb(167, 105, 226);
    color: #fff;
    padding: 25px;
    margin-bottom: 30px;
}

.header-currency {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
    font-weight: bold;
}